# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science  
- Identify commonly used libraries and tools in Data Science  
- Create and format Markdown cells in a Jupyter Notebook  
- Understand basic Jupyter Notebook operations  
- Build simple tables and lists using Markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sickit learn
4. Tensor Flow
5. Matplotlib

|Data Science Tools|
|------------------|
|MongoDB|
|Apache Spark|
|Airflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nelio Junior